<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AudioSwitcher.AudioApi.CoreAudio" version="1.1.8" targetFramework="net40" />
  <package id="NAudio" version="1.10.0" targetFramework="net40" />
  <package id="PagedControl" version="2.2.0" targetFramework="net40" />
  <package id="TabControl" version="2.1.2" targetFramework="net40" />
</packages>